<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet-mapping>
        <servlet-name>FeetToMeterServlet</servlet-name>
        <url-pattern>/calculatedMeter</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FeetToInchesServlet</servlet-name>
        <url-pattern>/calculatedInches</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeetToMeterServlet</servlet-name>
        <servlet-class>servlet.FeetToMeterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FeetToInchesServlet</servlet-name>
        <servlet-class>servlet.FeetToInchesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FeetToCentimetersServlet</servlet-name>
        <url-pattern>/calculatedCm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeetToCentimetersServlet</servlet-name>
        <servlet-class>servlet.FeetToCentimetersServlet</servlet-class>
    </servlet>
</web-app>



